server:
  port: 8761

spring:
  application:
    name: ROOMBILLZ-EUREKA-SERVER
    
  profiles:
    active: local    

# ============================================================
# EUREKA SERVER CONFIG
# ============================================================
eureka:
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 5000

  instance:
    hostname: ${EUREKA_HOST:localhost}

  client:
    register-with-eureka: false
    fetch-registry: false

    service-url:
      defaultZone: http://${EUREKA_HOST:localhost}:8761/eureka/

# ============================================================
# ACTUATOR + PROMETHEUS
# ============================================================
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
